<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container-fluid">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="background-image: linear-gradient(135deg, rgba(42,168,109,1) 0, rgba(76,59,155,1) 100%);
">
                <h3 style="background:white"><span class="fa fa-user" ></span> Local</h3>

                    <p><br>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>
                    

            </div>
        </div>
        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="background-image: linear-gradient(315deg, rgba(31,43,91,1) 0, rgba(0,175,206,1) 100%);">
                <h3 class="text-primary" style="background:white"><span class="fa fa-facebook"></span> Facebook</h3>

                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %>
                    </p>
                    
            </div>
        </div>



        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well" style="background-image: linear-gradient(315deg, rgba(173,0,0,1) 0, rgba(232,39,87,1) 100%);
">
                <h3 class="text-danger" style="background:white"><span class="fa fa-google-plus"></span> Google</h3>

                    <p style="color:white">
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>
                    

            </div>
        </div>
 </div>
</div>
</body>
</html>
